/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Webfont: Lato-Black */
@font-face {
  font-family: 'LatoWebBlack';
  src: url("../fonts/Lato-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BlackItalic */
@font-face {
  font-family: 'LatoWebBlack';
  src: url("../fonts/Lato-BlackItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BlackItalic.woff2") format("woff2"), url("../fonts/Lato-BlackItalic.woff") format("woff"), url("../fonts/Lato-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */
@font-face {
  font-family: 'LatoWebBold';
  src: url("../fonts/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */
@font-face {
  font-family: 'LatoWebBold';
  src: url("../fonts/Lato-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato-BoldItalic.woff") format("woff"), url("../fonts/Lato-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Hairline */
@font-face {
  font-family: 'LatoWebHairline';
  src: url("../fonts/Lato-Hairline.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Hairline.woff2") format("woff2"), url("../fonts/Lato-Hairline.woff") format("woff"), url("../fonts/Lato-Hairline.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HairlineItalic */
@font-face {
  font-family: 'LatoWebHairline';
  src: url("../fonts/Lato-HairlineItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-HairlineItalic.woff2") format("woff2"), url("../fonts/Lato-HairlineItalic.woff") format("woff"), url("../fonts/Lato-HairlineItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */
@font-face {
  font-family: 'LatoWebHeavy';
  src: url("../fonts/Lato-Heavy.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Heavy.woff2") format("woff2"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HeavyItalic */
@font-face {
  font-family: 'LatoWebHeavy';
  src: url("../fonts/Lato-HeavyItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-HeavyItalic.woff2") format("woff2"), url("../fonts/Lato-HeavyItalic.woff") format("woff"), url("../fonts/Lato-HeavyItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */
@font-face {
  font-family: 'LatoWeb';
  src: url("../fonts/Lato-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */
@font-face {
  font-family: 'LatoWebLight';
  src: url("../fonts/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */
@font-face {
  font-family: 'LatoWebLight';
  src: url("../fonts/Lato-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-LightItalic.woff2") format("woff2"), url("../fonts/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */
@font-face {
  font-family: 'LatoWebMedium';
  src: url("../fonts/Lato-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-MediumItalic */
@font-face {
  font-family: 'LatoWebMedium';
  src: url("../fonts/Lato-MediumItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-MediumItalic.woff2") format("woff2"), url("../fonts/Lato-MediumItalic.woff") format("woff"), url("../fonts/Lato-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoWeb';
  src: url("../fonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */
@font-face {
  font-family: 'LatoWebSemibold';
  src: url("../fonts/Lato-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-SemiboldItalic */
@font-face {
  font-family: 'LatoWebSemibold';
  src: url("../fonts/Lato-SemiboldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-SemiboldItalic.woff2") format("woff2"), url("../fonts/Lato-SemiboldItalic.woff") format("woff"), url("../fonts/Lato-SemiboldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */
@font-face {
  font-family: 'LatoWebThin';
  src: url("../fonts/Lato-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Thin.woff2") format("woff2"), url("../fonts/Lato-Thin.woff") format("woff"), url("../fonts/Lato-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-ThinItalic */
@font-face {
  font-family: 'LatoWebThin';
  src: url("../fonts/Lato-ThinItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-ThinItalic.woff2") format("woff2"), url("../fonts/Lato-ThinItalic.woff") format("woff"), url("../fonts/Lato-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.bg-grey {
  background-color: #EFEFEF;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'LatoWeb';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background: url(../img/spb-line.png) center bottom no-repeat;
  padding-top: 34px;
  padding-bottom: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  height: 151px;
}

.header__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5%;
}

.header__elem img {
  padding-right: 14px;
}

.header__elem:first-child {
  position: absolute;
  left: 0;
}

.header__elem:last-child {
  padding-right: 0;
}

.header__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.header__link:hover {
  color: #093999;
}

.header__phone-wrap a {
  font-size: 20px;
  padding-bottom: 5px;
}

.header__phone-wrap span {
  font-size: 14px;
}

nav {
  background-color: #093999;
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.menu__item {
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.menu__item:hover {
  background-color: #FDB713;
  color: #000;
  font-weight: bold;
}

.menu__link {
  font-size: 17px;
  line-height: 20px;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger {
  display: none;
}

.promo {
  min-height: 550px;
  background: url("../img/banner.jpg") top center no-repeat;
  background-color: #efefef;
}

.promo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo__left {
  width: 100%;
  position: relative;
  min-height: 550px;
  display: block;
}

.promo__protect {
  display: block;
  padding-top: 103px;
  color: #093999;
  font-weight: bold;
  font-size: 48px;
  line-height: 63px;
  text-transform: uppercase;
}

.promo__misc {
  display: block;
  font-size: 20px;
  padding-top: 23px;
}

.promo__misc img {
  padding-right: 11px;
}

.promo__link {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.promo__link:hover {
  color: #093999;
}

.promo__card {
  margin-top: 36px;
  max-width: 380px;
  height: 477px;
  padding: 30px 50px;
  border-radius: 15px;
  color: #FFF;
  background-color: #093999;
  text-align: center;
}

.promo__card-free {
  font-size: 1.6em;
  line-height: 1.2em;
  text-transform: uppercase;
}

.promo__card-spec {
  padding: 5px 0 16px 0;
  font-size: 14px;
  line-height: 17px;
}

.promo__card-policy {
  margin-top: 18px;
  text-align: left;
  font-size: 12px;
  line-height: 17px;
}

.promo__card-policy-link {
  color: #FDB713;
  text-decoration: underline;
}

.promo__card-policy-link:hover {
  text-decoration: none;
  cursor: pointer;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input {
  padding: 0;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #5a3a11;
  height: 50px;
}

.promo input {
  margin-bottom: 15px;
  width: 280px;
  height: 50px;
  color: #093999;
  background-color: #FFF;
  font-size: 16px;
  border: none;
  font-weight: normal;
}

.facts input {
  width: 50px;
  height: 60px;
  font-size: 40px;
  line-height: 48px;
  padding: 20% 20% 15% 20%;
  font-weight: bold;
  border: 2px solid #FDB713;
  border-radius: 5px;
  margin-right: 5px;
}

select {
  height: 50px;
  width: 180px;
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  padding: 0;
  text-align: center;
}

button {
  height: 50px;
  border-radius: 10px;
  background-color: #FDB713;
  border: none;
  color: #000;
  font-size: 17px;
  font-weight: bold;
  padding: 0;
  text-align: center;
}

button_main {
  margin-top: 67px;
  width: 300px;
  height: 50px;
  font-size: 16px;
}

button_submit {
  width: 100%;
  height: 50px;
  color: #000;
  font-size: 17px;
}

button_mini {
  width: 131px;
  height: 40px;
  font-size: 14px;
}

.arrows {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrows__left, .arrows__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.arrows__left {
  background: url(../img/svg/keyboard_left_backspace_24px.svg) center center no-repeat;
}

.arrows__left:hover {
  background: url(../img/svg/keyboard_backspace_24px_w.svg) center center no-repeat;
  background-color: #093999;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.arrows__right {
  background: url(../img/svg/keyboard_backspace_24px.svg) center center no-repeat;
}

.arrows__right:hover {
  background: url(../img/svg/keyboard_backspace_24px_w.svg) center center no-repeat;
  background-color: #093999;
}

.arrows__square {
  height: 50px;
  width: 50px;
  background-color: #FDB713;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 62px 0 44px 0;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 90%;
  margin: 0 auto;
}

.heading_md-blue {
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #093999;
  padding: 0 0 26px;
}

.products__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 280px;
  max-width: 280px;
  padding: 30px 30px;
  margin: 15px 0;
  border: 2px solid #efefef;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
}

.products__elem img {
  padding-bottom: 16px;
}

.products__elem:hover {
  border: 2px solid #FDB713;
  cursor: pointer;
}

.projects__left-wrap {
  padding-bottom: 10px;
}

.projects__elem {
  position: relative;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  text-underline-position: under;
}

.projects__elem.active {
  position: relative;
  border-bottom: 2px solid #FDB713;
}

.projects__elem::before {
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  content: '';
  opacity: 0;
  width: 0%;
  bottom: -2px;
  border-bottom: 2px solid #FDB713;
  position: absolute;
  border: 1px solid #FDB713;
}

.projects__elem:hover::before {
  content: '';
  opacity: 1;
  width: 100%;
  bottom: -2px;
  position: absolute;
}

.projects__thumb {
  height: 33px;
  margin: 4px 15px 8px 0;
}

.projects__arr-right-sm {
  position: absolute;
  right: 0;
  height: 12px;
  margin: 0;
}

.projects__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: url(../img/replacement-windows.jpg) no-repeat top right;
}

.projects__slider {
  width: 550px;
  height: 365px;
  position: relative;
  background: url(../img/Aluminium-awning-windows.jpg) center left no-repeat;
}

.projects__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(255, 255, 255, 0.85);
  height: 365px;
  width: 330px;
}

.projects__list-item {
  font-size: 16px;
  line-height: 23px;
  padding: 0 31px 0px 87px;
  text-align: left;
  position: relative;
}

.projects__list-item:first-child {
  padding-top: 32px;
  padding-left: 50px;
}

.projects__list-item:first-child h2 {
  padding-bottom: 0;
}

.projects__list-item:before {
  content: '';
  display: block;
  height: 2px;
  width: 26px;
  color: #FDB713;
  background-color: #FDB713;
  position: absolute;
  left: 50px;
  top: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.projects__list-item:first-child:before {
  opacity: 0;
}

.projects__list-item:last-child {
  color: white;
  font-size: 25px;
  background-color: #093999;
  padding: 14px 55px 15px 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__list-item:last-child span {
  text-transform: uppercase;
  font-size: 16px;
  color: #FDB713;
  position: absolute;
  left: 50px;
}

.projects__list-item:last-child::before {
  width: 0px;
}

.projects__comments {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__comments img {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  border: 2px solid #FDB713;
}

.projects__comments-spacer {
  padding-left: 26px;
  position: relative;
}

.projects__comment {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  max-height: 121px;
  padding: 1.5% 1% 1% 5%;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  margin-bottom: 70px;
}

.projects__comment-quote {
  background: url(../img/svg/quote.svg) no-repeat;
  background-color: #FFF;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  width: 48px;
  right: 50px;
  top: 80%;
}

.projects__comment p {
  font-weight: bold;
  font-size: 16px;
  padding: 0 0 2% 0;
  color: #093999;
}

.calc {
  background-color: #EFEFEF;
  padding-bottom: 70px;
}

.calc select {
  width: 100%;
  margin-bottom: 20px;
}

.calc button {
  width: 50%;
}

.calc form {
  width: 50%;
}

.calc__left, .calc__right {
  width: 50%;
  padding: 3%;
  background-color: #fff;
}

.calc__left {
  border-right: 4px solid #EFEFEF;
}

.calc__left img {
  padding: 28px 7px 69px 0;
}

.calc__left_erker {
  padding: 0;
}

.calc__checkbox {
  padding-bottom: 50px;
}

.calc__specs-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

.calc__specs-name {
  line-height: 68px;
  padding-right: 2%;
}

.calc__checkbox .pretty:first-child {
  padding: 0 30px 0 0;
}

.calc__wind-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  position: absolute;
  top: -30px;
  left: 35%;
}

.calc__wind-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calc__wind-wrap button {
  margin-top: 79px;
}

.calc__wind-height {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: absolute;
  top: 40%;
  left: -55px;
}

.calc__wind-height_wrap {
  width: 0px;
}

.calc__wind-elem {
  font-size: 12px;
  text-align: center;
  position: relative;
  color: #9e9e9e;
  height: 273px;
  position: relative;
  margin-top: 66px;
}

.calc__wind-elem img {
  height: 273px;
}

.calc__wind-elem span {
  position: absolute;
  top: 80%;
  left: 16%;
}

.calc__wind-elem p {
  position: absolute;
  top: 80%;
  left: 61%;
}

.calc__wind-width, .calc__wind-height {
  width: 77px;
  height: 35px;
  font-size: 16px;
}

.facts {
  line-height: 23px;
  text-align: center;
  margin: 0 auto;
}

.facts__paragraph {
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
}

.facts__counter {
  background-color: #093999;
  border-radius: 10px;
  width: 440px;
  height: 211px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  margin: 42px auto 26px;
}

.facts__counter p {
  padding-top: 25px;
}

.facts__counter-ul {
  padding-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facts__numbers {
  padding-bottom: 67px;
}

.facts__numbers .col-4 {
  min-width: 400ppx;
  position: relative;
}

.facts__numbers .col-4:first-child p {
  left: 55%;
}

.facts__numbers .col-4:last-child p {
  left: 65%;
}

.facts__numbers span {
  font-weight: normal;
  font-size: 100px;
  line-height: 120px;
  text-align: left;
  color: #093999;
}

.facts__numbers p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 300px;
  height: 57px;
  text-align: left;
  background: #FFF;
  padding: 2%;
}

.facts__medals {
  margin: 86px 0 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facts__medals-ntv {
  background: url(../img/facts_ntv.png) center top no-repeat;
  padding: 10%;
}

.facts__medals-box {
  position: relative;
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  min-width: 400px;
  max-width: 400px;
  padding: 100px 3% 2%;
  margin: 0 1%;
  min-width: 30%;
  min-height: 182px;
}

.facts__medals-box img {
  position: absolute;
  top: -20%;
  right: 135px;
}

.facts__medals-box:last-child img {
  left: 100px;
}

.facts__partners {
  margin: 33px 0 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  padding: 10px;
}

.facts__partners li {
  position: relative;
  margin: 0 10px;
}

.facts__partners li span {
  position: absolute;
  bottom: 5%;
  left: 30%;
  color: #FFF;
  font-size: 20px;
  line-height: 24px;
}

.facts__gallery {
  margin: 46px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.facts__gallery li {
  border-radius: 10px;
  position: relative;
  margin: 0 10px;
  width: 580px;
  height: 280px;
}

.facts__gallery li span {
  position: absolute;
  bottom: 5%;
  left: 30px;
  color: #FFF;
  font-size: 20px;
  line-height: 24px;
  background: url(../img/svg/facts_g-city_24px.svg) center center no-repeat;
  background-position-x: 0px;
  background-position-y: 1px;
  padding-left: 30px;
}

.facts__gallery li:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 59, 59, 0)), to(rgba(57, 57, 57, 0.8))), url(../img/facts_g-sevdol.png) center center no-repeat;
  background: linear-gradient(to bottom, rgba(59, 59, 59, 0), rgba(57, 57, 57, 0.8)), url(../img/facts_g-sevdol.png) center center no-repeat;
}

.facts__gallery li:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 59, 59, 0)), to(rgba(57, 57, 57, 0.8))), url(../img/facts_g-clearsky.png);
  background: linear-gradient(to bottom, rgba(59, 59, 59, 0), rgba(57, 57, 57, 0.8)), url(../img/facts_g-clearsky.png);
}

.gallery_2 {
  margin-top: 20px;
}

.gallery_2 li:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 59, 59, 0)), to(rgba(57, 57, 57, 0.8))), url(../img/facts_g-london.jpg);
  background: linear-gradient(to bottom, rgba(59, 59, 59, 0), rgba(57, 57, 57, 0.8)), url(../img/facts_g-london.jpg);
}

.gallery_2 li:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 59, 59, 0)), to(rgba(57, 57, 57, 0.8))), url(../img/facts_g-legend.png);
  background: linear-gradient(to bottom, rgba(59, 59, 59, 0), rgba(57, 57, 57, 0.8)), url(../img/facts_g-legend.png);
}

@media (max-width: 991px) {
  .facts__medals {
    width: auto;
  }
}

@media (max-width: 767px) {
  .facts__gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 46px 0 0;
    margin: 0;
  }
  .facts__gallery:last-child {
    padding: 0;
  }
  .facts__gallery li {
    margin: 0 0 20px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .facts__counter {
    width: auto;
  }
  .facts__counter input {
    width: 35px;
    margin: 0 2px;
    padding: 0 auto;
    font-size: 1.4em;
  }
}

.call-measure {
  margin-top: 70px;
  color: #FFF;
  position: relative;
  background: #093999 url(../img/measure2.png) right center no-repeat;
  background-position-x: 75%;
}

.call-measure__free {
  padding: 56px 0 5px;
  font-size: 30px;
  line-height: 43px;
  text-transform: uppercase;
}

.call-measure__spec {
  padding-bottom: 29px;
  font-size: 14px;
  line-height: 17px;
}

.call-measure__policy {
  margin-top: 18px;
  text-align: left;
  font-size: 12px;
  line-height: 17px;
  padding-bottom: 69px;
}

.call-measure__policy-link {
  color: #FDB713;
  text-decoration: underline;
}

.call-measure__policy-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.call-measure form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.call-measure form input {
  width: 25%;
  margin-right: 1%;
}

.call-measure form button {
  width: 25%;
}

@media (max-width: 991px) {
  .call-measure input, .call-measure button {
    font-size: 0.8em;
    padding: 0;
    text-align: center;
  }
}

.team {
  padding-bottom: 58px;
}

.team div {
  border-radius: 50%;
  background: url(../img/team-1.jpg) center center no-repeat;
  background-size: 100%;
  padding-top: 300px;
  text-align: center;
}

.team div h3 {
  font-weight: bold;
}

.team div h4 {
  padding-top: 4px;
  font-weight: 0.8em;
  font-weight: bold;
  color: #093999;
}

.adv a {
  width: 200px;
  height: 250px;
  padding-top: 160px;
  text-align: center;
  color: #000;
}

.adv a:nth-child(1) {
  background: url(../img/advant-1.png) center center no-repeat;
}

.adv a:nth-child(2) {
  background: url(../img/advant-2.png) center center no-repeat;
}

.adv a:nth-child(3) {
  background: url(../img/advant-3.png) center center no-repeat;
}

.adv a:nth-child(4) {
  background: url(../img/advant-4.png) center center no-repeat;
}

.adv a:nth-child(5) {
  background: url(../img/advant-5.png) center center no-repeat;
}

.adv a:nth-child(6) {
  background: url(../img/advant-6.png) center center no-repeat;
}

.adv a h4 {
  font-weight: 1em;
  font-weight: bold;
}

.adv a p {
  font-weight: 0.8em;
  padding-top: 11px;
}

.map {
  background: url(../img/map-2.png) center center/cover no-repeat;
}

.map__form {
  width: 380px;
  height: 450px;
  background-color: #093999;
  color: #FFF;
  padding-top: 30px;
  padding-left: 122px;
}

.map__form p {
  font-size: 15px;
  padding-top: 6px;
}

.map__form h4 {
  position: relative;
  padding-top: 38px;
  padding-bottom: 6px;
  font-size: 17px;
  color: #FDB713;
}

.map__form h4:nth-child(1), .map__form h4::before {
  content: '';
  background-color: #FDB713;
  background-image: url(../img/map-loc.png) center center no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 2px;
  width: 30px;
  border: 20px solid #FDB713;
}

.map__form h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.map__form a {
  color: #FDB713;
}

.subfooter {
  padding-top: 70px;
  padding-bottom: 65px;
  font-size: 14px;
  line-height: 20px;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 59, 59, 0)), to(rgba(57, 57, 57, 0.05))), url(../img/futer-2.jpg) bottom center/contain no-repeat;
  background: linear-gradient(to bottom, rgba(59, 59, 59, 0), rgba(57, 57, 57, 0.05)), url(../img/futer-2.jpg) bottom center/contain no-repeat;
}

.footer li {
  font-size: 0.8em;
  line-height: 2.5em;
  font-weight: normal;
  color: #000;
}

.footer li h3 {
  font-size: 17px;
  font-weight: bold;
  color: #093999;
}

.footer .row {
  padding-bottom: 25px;
}

.wind_line {
  padding-bottom: 71px;
}

.wind_line br {
  display: none;
}

.wind_line img {
  padding-top: 35px;
}

.wind_line h3 {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 44px;
  padding-bottom: 36px;
  font-size: 26px;
}

.wind_line p {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 40px;
}

.wind_line ul {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wind_line ul li {
  padding-right: 21px;
  position: relative;
}

.wind_line ul li:last-child {
  padding-right: 0;
}

.wind_line ul li:first-child:before {
  width: 60%;
}

.wind_line ul li:last-child:before {
  width: 15%;
}

.wind_line ul li::before {
  content: '';
  display: block;
  width: 90%;
  height: 7px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: -11px;
  background: #093999;
  border: 2px solid #C1C1C1;
  border-style: ridge;
}

.wind_line .row {
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  margin-bottom: 10px;
}

.wind_line .row span {
  color: #C1C1C1;
}

.wind_line .row div:last-child {
  margin: 0 auto;
  padding-top: 42px;
  text-align: center;
  background-color: #efefef;
}

.wind_line .row div:last-child h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.wind_line .row div:last-child button {
  width: auto;
  padding: 0 12%;
  margin-bottom: 36px;
  margin-top: 26px;
}

.wrap {
  padding: 0 15px;
  max-width: 1170px;
  margin: 0 auto;
}

.wind_compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wind_compare br {
  display: none;
}

.wind_compare .container {
  margin: 0;
}

.wind_compare:nth-child(2) li, .wind_compare:nth-child(4) li, .wind_compare:nth-child(6) li, .wind_compare:nth-child(8) li {
  background-color: #EFEFEF;
}

.wind_compare:nth-child(1) li {
  padding-top: 18%;
  padding-bottom: 28px;
  background: url(../img/Razrez2-186x300.png) top center/contain no-repeat;
  background-size: 70%;
  font-weight: bold;
  text-transform: uppercase;
}

.wind_compare:nth-child(1) li:first-child {
  background: none;
}

.wind_compare:nth-child(2) li:first-child {
  background: #EFEFEF url(../img/table-sun.png) no-repeat 5px 50%;
}

.wind_compare:nth-child(3) li:first-child {
  background: url(../img/table-thermometer.png) no-repeat 5px 50%;
}

.wind_compare:nth-child(4) li:first-child {
  background: #EFEFEF url(../img/table-volume.png) no-repeat 5px 50%;
}

.wind_compare:nth-child(5) li:first-child {
  background: url(../img/table-camera.png) no-repeat 5px 50%;
}

.wind_compare:nth-child(6) li:first-child {
  background: #EFEFEF url(../img/svg/table-profile.svg) no-repeat 5px 50%;
}

.wind_compare:nth-child(7) li:first-child {
  background: url(../img/svg/table-profile.svg) no-repeat 5px 50%;
}

.wind_compare:nth-child(8) li:first-child {
  background: #EFEFEF url(../img/svg/table-furniture.svg) no-repeat 5px 50%;
}

.wind_compare li {
  font-size: 0.9em;
  font-weight: normal;
  width: 13%;
  height: 60px;
  border-right: 1px solid #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wind_compare li:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 30%;
  padding-left: 30px;
  font-weight: bold;
}

.wind_opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wind_opt button {
  width: 50%;
  min-width: 150px;
}

.wind_opt a {
  font-size: 16px;
  text-decoration: underline;
  text-underline-position: under;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  display: inline;
  text-align: center;
  border-right: 1px solid #C1C1C1;
  color: #093999;
  border-bottom: 1px solid #C1C1C1;
  padding-top: 100px;
  padding-bottom: 21px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  width: 20%;
}

.wind_opt a:nth-child(1) {
  background: url(../img/opt_check.png) no-repeat center top;
  background-position-y: 20px;
}

.wind_opt a:nth-child(2) {
  background: url(../img/opt_comfort.png) no-repeat center top;
  background-position-y: 20px;
}

.wind_opt a:nth-child(3) {
  background: url(../img/opt_safety.png) no-repeat center top;
  background-position-y: 20px;
}

.wind_opt a:nth-child(4) {
  background: url(../img/opt_noise.png) no-repeat center top;
  background-position-y: 20px;
}

.wind_opt a:nth-child(5) {
  background: url(../img/opt_design.png) no-repeat center top;
  background-position-y: 20px;
  border-right: 0;
}

.wind_opt:last-child {
  display: block;
  background: url(../img/wind_opt-door_handles.png) left center/contain no-repeat;
  background-position-y: 35px;
  background-position-x: -10%;
  padding-top: 35px;
  margin-bottom: 35px;
  padding-left: 30px;
}

.wind_opt:last-child li {
  line-height: 23px;
  display: block;
  padding: 25px 16px 0 40%;
  text-align: left;
}

.wind_opt:last-child li:nth-child(3), .wind_opt:last-child li:nth-child(4), .wind_opt:last-child li:nth-child(5) {
  background: url(../img/opt_checkbox-icon.png) no-repeat center center;
  background-position-x: 41%;
  background-position-y: 100%;
  padding-left: 43.5%;
}

.border-wrapper {
  border-radius: 10px;
  border: 1px solid #C1C1C1;
  margin: 0 15px;
  max-width: 1155px;
}

.wind_repairs {
  background: #093999 url(../img/repair2.png) right center/contain no-repeat;
  background-position-x: 90%;
  height: 300px;
  margin-top: 74px;
  margin-bottom: 65px;
}

.wind_repairs h2 {
  text-align: left;
  color: #FFF;
}

.wind_repairs button {
  margin-bottom: 87px;
  width: 25%;
  min-width: 150px;
}

.wind_repairs .container {
  background: url(../img/svg/key.svg) center bottom no-repeat;
  background-position-x: 25%;
  background-position-y: 40px;
  height: 100%;
}

.log_service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/otd-2.png) center center/contain no-repeat;
  height: 640px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 23px;
}

.log_service h3 {
  position: relative;
  font-weight: bold;
  color: #093999;
}

.log_service h3:after {
  content: '';
  position: absolute;
  right: -205px;
  top: 12px;
  display: block;
  height: 1px;
  width: 200px;
  background-color: #093999;
}

.log_service li {
  width: 30%;
}

.log_service li:first-child {
  padding-left: 1.5%;
  text-align: right;
}

.log_service li:first-child div {
  height: 40%;
}

.log_service li:first-child div:first-child {
  padding-top: 81px;
}

.log_service li:nth-child(2) {
  min-width: 480px;
}

.log_service li:last-child {
  padding-right: 1.5%;
}

.log_service li:last-child div {
  height: 25%;
}

.log_service li:last-child h3:after {
  left: -205px;
}

@media (max-width: 991px) {
  .products img {
    width: 75%;
  }
  .products__elem {
    font-size: 1em;
    margin: 0;
  }
  .products .row div {
    padding: 5px;
  }
  .projects__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
  }
  .projects__thumb {
    display: none;
  }
  .projects__left-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects__elem {
    font-size: 1.2em;
    padding-right: 3%;
    color: #093999;
  }
  .projects__elem:first-child {
    padding-left: 3%;
  }
  .projects__elem.active {
    border: none;
    color: #000;
    text-decoration: none;
  }
  .projects__arr-right-sm {
    display: none;
  }
  .projects__works {
    min-width: 100%;
    height: auto;
  }
  .projects__list-item {
    font-size: 1.2em;
    margin-bottom: 1em;
    max-width: 550px;
  }
  .projects__slider {
    max-width: 550px;
    width: auto;
  }
  .heading_works {
    font-size: 1.5em;
  }
  .header {
    background: none;
    height: 70px;
  }
  .header__logo img {
    width: 75%;
  }
  .header__elem {
    padding-right: 5%;
  }
  .header__elem img {
    padding-right: 5px;
  }
  .header__link {
    font-size: 1em;
  }
  .header__phone-wrap a {
    font-size: 1.2em;
  }
  .header__phone-wrap span {
    font-size: 0.8em;
  }
  .menu__link {
    font-size: .9em;
  }
}

@media (max-width: 991px) {
  .log_service {
    background: url(../img/otd-2.png) center center/cover no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 100%;
  }
  .log_service div {
    text-align: left;
    min-width: 100%;
    padding-bottom: 10px;
  }
  .log_service div h3 {
    color: #093999;
  }
  .log_service li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 5%;
    background-color: rgba(255, 255, 255, 0.7);
    min-width: 100%;
  }
  .log_service li:first-child {
    padding: 0 5%;
  }
  .log_service li:first-child div {
    height: auto;
    padding: 0;
    padding-bottom: 10px;
  }
  .log_service li:first-child div:first-child {
    padding: 0;
    padding-bottom: 10px;
  }
  .log_service li:nth-child(2) {
    display: none;
  }
  .log_service h3::after {
    display: none;
  }
  .wind_opt:last-child {
    background-position-x: -100px;
  }
  .wind_opt:last-child li:nth-child(3), .wind_opt:last-child li:nth-child(4), .wind_opt:last-child li:nth-child(5) {
    padding-left: 45%;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu__item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu__link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    left: 0px;
    top: 60%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 30px;
  }
  .hamburger span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #093999;
    margin-bottom: 4px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

@media (max-width: 767px) {
  .promo {
    background-position: -200px 0px;
  }
  .promo__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects__comments {
    display: none;
  }
  .products__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products__elem {
    display: block;
    height: auto;
    min-width: 100%;
    padding: 5px;
    margin: 3px;
    font-size: 1.45em;
  }
  .products__elem img {
    padding: 0 10px 0 0;
    height: 1.5em;
    width: 60px;
    height: 64px;
  }
  .header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__elem {
    padding-left: 55px;
    padding-right: 0;
  }
  .header__elem:last-child, .header__elem:nth-child(3), .header__elem .header__phone-wrap {
    display: none;
  }
  .calc {
    padding-bottom: 30px;
  }
  .calc button {
    min-width: 180px;
  }
  .calc__left {
    border-right: 0;
    border-bottom: 4px solid #EFEFEF;
  }
  .calc__left, .calc__right {
    min-width: 100%;
    padding: 10%;
  }
  .wind_line h3 {
    font-size: 1em;
  }
  .wind_line .row div:last-child h2 {
    font-size: 1em;
  }
  .wind_opt a {
    font-size: 0.85em;
  }
  .wind_opt:last-child {
    background-position-x: -180px;
  }
  .wind_opt:last-child li:nth-child(3), .wind_opt:last-child li:nth-child(4), .wind_opt:last-child li:nth-child(5) {
    padding-left: 48%;
  }
  .wrap {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 575px) {
  .heading {
    font-size: 22px;
    line-height: 26px;
    padding-top: 32px;
    padding-bottom: 20px;
  }
  .projects__list-item:first-child {
    padding: 0;
  }
  .projects__list-item:last-child {
    border-radius: 10px;
  }
  .calc, .bg-grey {
    background-color: #FFF;
  }
  .wind_opt {
    display: block;
  }
  .wind_opt a {
    display: block;
    min-width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    padding-left: 18%;
    font-size: 1.1em;
  }
  .wind_opt a:nth-child(1), .wind_opt a:nth-child(2), .wind_opt a:nth-child(3), .wind_opt a:nth-child(4), .wind_opt a:nth-child(5) {
    background-position-y: 30%;
    background-position-x: 4%;
    border-right: 0;
    background-size: 70px;
  }
  .wind_opt a br {
    display: none;
  }
  .wind_opt:last-child {
    background: none;
  }
  .wind_opt:last-child li {
    padding-left: 4%;
    line-height: 1.5em;
  }
  .wind_opt:last-child li:nth-child(3), .wind_opt:last-child li:nth-child(4), .wind_opt:last-child li:nth-child(5) {
    padding-left: 12%;
    background-position-x: 4%;
  }
  .wind_compare br, .wind_line br {
    display: inline;
  }
  .wind_line {
    font-size: 0.9em;
  }
  .wind_line button {
    font-size: 1em;
  }
}
/*# sourceMappingURL=style.css.map */