html
   box-sizing: border-box

*, *::before, *::after
   box-sizing: inherit

body
   font-family: 'LatoWeb'
   font-style: normal
   font-size: 16px
   line-height: 1.2
   font-weight: normal
   color: $black
   
img
   max-width: 100%
   height: auto

// .container
//    max-width: 1170px
//    margin: 0 auto

.hamburger
	display: none




// .xs-hidden
//    display: none
// .xs-visible 
//    display: block

