.heading
   font-size: 30px
   line-height: 36px
   text-align: center
   padding: 62px 0 44px 0
   text-transform: uppercase
   font-weight: bold

   &_md-blue
      font-size: 20px
      line-height: 24px
      text-align: left
      color: $blue
      padding: 0 0 26px

 