
@media (max-width: 1199px)
   .wrap  
      max-width: 960px

@media (max-width: 991px)
   .wrap
      max-width: 750px

@media (max-width: 767px)
   .wrap
      max-width: 650px
      // padding: 0 20px

// @media (max-width: 575px)
//    .wrap
//       max-width: 100%
//       padding: 0 20px


// .container 
//    max-width: 100%
//    padding: 0






@media (max-width: 1199px)
   .border-wrapper  
      margin: 0 15px

//    .container
//       max-width: 960px

// @media (max-width: 991px)
//    .container
//       max-width: 750px

// @media (max-width: 767px)
//    .container
//       max-width: 100%
//       padding: 0 20px

@media (max-width: 575px)
   .container
      max-width: 100%
      padding: 0 20px

// .container 
//    max-width: 100%
//    padding: 0

@media (max-width: 767px)

   .calc
      button
         min-width: 180px
      &__left
         border-right: 0
         border-bottom: 4px solid $EFEFEF
      &__left, &__right      
         min-width: 100%
         padding: 10%


// 575
@media (max-width: 575px)

   .calc, .bg-grey
      background-color: $white

   .heading
      font-size: 22px
      padding-top: 32px
      padding-bottom: 16px





   


      