.calc
   background-color: #EFEFEF
   &__wrap
      background-color: $white
      display: flex
      flex-direction: row
   &__left, &__right      
      width: 50%
      margin: 0 auto
      padding: 5%
      border: 1px solid yellow
   &__left
      border-right: 4px solid #EFEFEF
   &__specs
      &-wrap
         display: flex
         flex-direction: row
         justify-content: space-between
      &-name, &-value
         li
            height: 50px
            display: flex
            align-items: center
            border: 1px solid yellow
            font-size: 17px
            font-weight: bold
     
      

   &__wind
      &-width
         display: flex
         justify-content: center
         margin-bottom: 0
      &-wrap
         display: flex
         flex-direction: row
         position: relative
         justify-content: center
      &-height
         transform: rotate(270deg)
         position: absolute
         top: 45%
         left: -55px
         &_wrap
            width: 0px
      &-elem
         font-size: 12px
         color: #9e9e9e
         img
            width: 130px
            height: 273px
         position: relative
         margin: 8px
         span
            position: absolute
            top: 88%
            left: 30%
         p
            position: absolute
            top: 88%
            left: 18%
         
      &-width, &-height
         width: 77px
         height: 35px
         font-size: 16px
   
      .col-md-6
         display: flex
         justify-content: center
      
   