.facts
   h3
      max-width: 90%
   br
      display: none
   line-height: 23px
   text-align: center   
   margin: 0 auto 70px
   &__paragraph
      max-width: 75%
      text-align: center
      margin: 0 auto
   &__counter
      background-color: $blue
      border-radius: 10px
      width: 440px
      height: 211px
      color: white
      font-size: 20px
      line-height: 24px
      margin: 42px auto 26px     
      p
         padding-top: 25px

   &__counter-ul
      padding-top: 23px
      display: flex
      flex-direction: row
      justify-content: center

   &__numbers
      padding-bottom: 67px
      .col-md-4
         
         &:nth-child(1)
            text-align: center
            p
               left: 85px
            img
               left: 115px
               top: 2px

         &:nth-child(2)
            text-align: center
            padding-right: 100px
            p
               left: 30px
            img
               left: 30px
               top: -40px
         &:nth-child(3)
            text-align: left
            p
               left: 140px
            img
               left: 31px
               top: -60px
      span
         font-weight: normal
         font-size: 100px
         line-height: 120px
         text-align: left
         color: $blue
         position: relative       
      p
         font-weight: normal
         font-size: 16px
         line-height: 19px
         position: absolute
         left: 85px
         bottom: -10px
         width: 200px
         height: 57px
         text-align: left
         background: $white
         padding: 2%
      img
         position: absolute
            left: 100px
            top: 0px

   &__medals
      margin: 80px 0 50px
      display: flex
      justify-content: center        
      &-box       
         border: 1px solid $border-gray
         border-radius: 10px
         display: flex
         align-items: center
         div
            position: relative
            width: 50%            
            img
               position: absolute
               top: -130px
               right: -64px
               mind-width: 120px
               min-height: 128px
            h3
               position: absolute
               top: 0
               min-width: 240px
               left: -120px
         min-width: 49%
         min-height: 150px
         margin-right: 2%
         &:last-child
            margin-right: 0
            div    
               img
                  right: -87px
                  min-width: 173px
                  min-height: 128px
   &__partners 
      margin: 33px auto 61px
      display: flex
      flex-wrap: wrap
      justify-content: center
      border: 1px solid $border-gray
      border-radius: 10px
      padding: 10px
      div
         img
            margin: 0 3px 3px
            display: inline

   &__gallery      
      margin: 46px 0 0
      display: flex
      justify-content: space-around
      li
         border-radius: 10px
         position: relative
         &:first-child
            margin-right: 20px
         width: 580px
         height: 280px          
         span
            position: absolute
            text-align: left
            top: 80%
            left: 10px
            color: $white
            font-size: 1.2em
            line-height: 24px
            background: url(../img/svg/facts_g-city_24px.svg) center center no-repeat
            background-position-x: 0px
            background-position-y: 1px
            padding-left: 25px            
         &:nth-child(1)
            background: linear-gradient(to bottom, rgba(59, 59, 59, 0), rgba(57, 57, 57, 0.8)), url(../img/facts_g-sevdol.png) center center no-repeat
         &:nth-child(2)
            background: linear-gradient(to bottom, rgba(59, 59, 59, 0), rgba(57, 57, 57, 0.8)), url(../img/facts_g-clearsky.png)
      
.gallery_2
   margin-top: 20px
   li
      &:nth-child(1)
         background: linear-gradient(to bottom, rgba(59, 59, 59, 0), rgba(57, 57, 57, 0.8)), url(../img/facts_g-london.jpg)
      &:nth-child(2)
         background: linear-gradient(to bottom, rgba(59, 59, 59, 0), rgba(57, 57, 57, 0.8)), url(../img/facts_g-legend.png)

@media (max-width: 991px)
   .facts
      &__medals
         width: auto
      br
         display: inline

@media (max-width: 767px)
   .facts      
      &__gallery
         flex-direction: column
         padding: 46px 0 0
         &:last-child
            padding: 0            
         margin: 0         
         li
            margin: 0 0 20px  
            width: auto
            height: 135px
      &__gallery      
         li
            &:first-child
               margin-right: 0

@media (max-width: 575px)
   .facts
      &__medals
         margin: 20px 0 50px
         display: flex
         flex-direction: column
         &-box
            min-width: 100%
            margin: 70px 0 0 0
      &__partners
         img
            width: 46%
      &__counter
         width: auto
         input
            width: 35px
            margin: 0 2px
            padding: 0 auto
            font-size: 1.4em