.promo
    &__card
        &-form
            margin-top: 16px
            display: flex
            flex-direction: column
            width: 280px
            input 
                height: 50px
                border-radius: 5px
                background-color: $white
                margin-bottom: 15px
                border: none
                padding: 0 20px
                color: $blue
                font-size: 17px
                font-weight: normal
                &:nth-child(3) 
                    margin-bottom: 15px
            &_mt25 
                margin-top: 25px
    
.button 
    width: 150px
    height: 30px
    border-radius: 10px
    background-color: $yellow
    border: none
    color: $black
    font-size: 12px
    font-weight: bold
    &_main 
        margin-top: 67px
        width: 300px
        height: 50px
        font-size: 16px    
    &_submit 
        width: 100%
        height: 50px
        color: $black
        font-size: 17px    
    &_mini 
        width: 131px
        height: 40px
        font-size: 14px

.arrows
    position: absolute
    bottom: 0      
    display: flex
    &__left, &__right
        display: flex
        justify-content: center
        width: 100%
        height: 100%
    &__left
        background: url(../img/svg/keyboard_left_backspace_24px.svg) center center no-repeat
        &:hover
            background: url(../img/svg/keyboard_backspace_24px_w.svg) center center no-repeat
            background-color: $blue
            transform: scaleX(-1)
    &__right
        background: url(../img/svg/keyboard_backspace_24px.svg) center center no-repeat
        &:hover
            background: url(../img/svg/keyboard_backspace_24px_w.svg) center center no-repeat
            background-color: $blue
    &__square
        height: 50px
        width: 50px
        background-color: $yellow
        margin-right: 5px
        display: flex
        justify-content: center
        align-items: center