.header
   background: url(../img/spb-line.png) no-repeat bottom
   padding-top: 65px
   &__wrapper   
      display: flex
      flex-wrap: wrap
      align-items: baseline
      justify-content: space-between
   &__link
      font-weight: bold
      font-size: 17px
      line-height: 20px
      text-decoration: none
      color: $main-color
      padding-left: 14px
      &:hover
         color: #093999
   &__phone
      font-weight: bold
      font-size: 20px
      line-height: 24px


