.header   
   background: url(../img/spb-line.png) no-repeat bottom
   padding-top: 34px
   padding-bottom: 37px
   display: flex
   align-items: center
   justify-content: space-between
   font-weight: bold
   &__elem
      display: flex
      align-items: center
      img
         padding-right: 14px
   &__link
      font-weight: bold
      font-size: 17px
      line-height: 20px
      text-decoration: none
      color: $black
      &:hover
         color: #093999
   &__phone
      &-wrap
         display: inline-block         
         span
            display: block
            font-size: 14px
            font-weight: normal
      &-link
         font-size: 20px    
nav
   background-color: $blue

   .menu  
      height: 50px
      font-size: 17px
      line-height: 20px
      font-weight: normal
      display: flex 
      &__item
         color: $white
         display: flex
         width: 100%
         align-items: center
         justify-content: center
         height: 100%
         &:hover
            background-color: $yellow
            color: $black
            font-weight: bold
      &__link
         text-decoration: none
         color: inherit



         

