.log_service
   display: flex
   background: url(../img/otd-2.png) center (center/contain) no-repeat
   height: 640px
   justify-content: space-between
   h3
      position: relative
      font-weight: bold
      color: $blue
      &:after
         content: ''
         position: absolute
         right: -205px
         top: 12px
         display: block
         height: 1px
         width: 200px
         background-color: $blue
   line-height: 23px 
   li
      width: 30%
      &:first-child
         padding-left: 1.5%
         text-align: right
         div
            height: 40%
            &:first-child
               padding-top: 81px
      &:nth-child(2)
         min-width: 480px
      &:last-child
         padding-right: 1.5%
         div
            height: 25%
         h3
            &:after
               left: -205px


         

