.products
   &__wrap
      display: flex
      flex-direction: row
      justify-content: space-between
   &__elem
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      max-height: 280px
      max-width: 280px
      padding: 30px 30px
      margin: 15px 0
      border: 2px solid #efefef
      border-radius: 10px
      font-weight: bold
      font-size: 20px
      line-height: 24px
      text-decoration: none
      color: $black
      img
         padding-bottom: 16px
      &:hover
         border: 2px solid $yellow
         cursor: pointer
         



      