.promo
   min-height: 550px
   background: url("../img/banner.jpg") top (center) no-repeat
   &__wrap
      display: flex
      justify-content: space-between
   &__left
      width: 100%
      position: relative
      min-height: 550px
      display: block
   &__protect
      display: block
      padding-top: 103px
      color: $blue
      font-weight: bold
      font-size: 48px
      line-height: 63px
      text-transform: uppercase
   &__misc
      display: block
      font-size: 20px
      padding-top: 23px
      img
         padding-right: 11px
   &__link
      font-weight: bold
      font-size: 17px
      line-height: 20px
      text-decoration: none
      color: $black
      &:hover
         color: #093999
   &__arrows
      position: absolute
      bottom: 0      
      display: flex
   &__arr-left, &__arr-right
      display: flex
      justify-content: center 
      width: 100%
      height: 100%      
   &__arr-left
      background: url(../img/svg/keyboard_left_backspace_24px.svg) center center no-repeat
      &:hover
         background: url(../img/svg/keyboard_backspace_24px_w.svg) center center no-repeat
         background-color: $blue
         transform: scaleX(-1)
   &__arr-right
      background: url(../img/svg/keyboard_backspace_24px.svg) center center no-repeat
      &:hover
         background: url(../img/svg/keyboard_backspace_24px_w.svg) center center no-repeat
         background-color: $blue
   &__square
      height: 50px
      width: 50px
      background-color: $yellow
      margin-right: 5px
      display: flex
      justify-content: center
      align-items: center
   &__card
      margin-top: 36px      
      max-width: 380px
      height: 477px
      padding: 30px 50px
      border-radius: 15px
      color: $white
      background-color: $blue
      text-align: center
      &-free
         font-size: 18px
         line-height: 26px
         text-transform: uppercase    
      &-spec
         padding-top: 5px
         font-size: 14px
         line-height: 17px
      &-policy
         margin-top: 18px
         text-align: left
         font-size: 12px
         line-height: 17px
      &-policy-link
         color: $yellow
         text-decoration: underline
         &:hover
            text-decoration: none
            cursor: pointer

@media (max-width: 767px)
   .promo
      &__wrap
         flex-direction: column
         align-items: center
      background-position: -200px 0px