.products
   &__wrap
      display: flex
      flex-direction: row
      justify-content: space-between
   &__elem
      display: flex
      flex-direction: column
      height: 280px
      width: 280px
      padding: 15px
      margin: 10px
      align-items: center
      justify-content: center
      border: 1px solid #C1C1C1
      border-radius: 10px
      font-weight: bold
      font-size: 20px
      line-height: 24px
      img
         padding-bottom: 16px

@media (max-width: 1199px)
   .products
      &__elem
         font-size: 110%
         max-width: 235px
         max-height: 235px

@media (max-width: 991px)
   .products
      &__elem
         font-size: 0.9em

@media (max-width: 767px)
   .products
      &__wrap
         flex-wrap: wrap
         min-width: 100%
      &__elem
         max-width: 280px
         max-height: 280px
         font-size: 20px
         
@media (max-width: 660px)
   .heading
      padding: 1em 0 .3em 0
   .products
      &__wrap
         flex-wrap: nowrap
         flex-direction: column
         justify-content: center
         align-items: center
      &__elem
         display: block
         height: auto
         min-width: 100%
         padding: 5px
         margin: 3px
         font-size: 1.45em
         img
            padding: 0 10px 0 0
            height: 1.5em


      