.subfooter
   padding-top: 70px
   padding-bottom: 65px
   font-size: 14px
   line-height: 20px

.footer
   background: linear-gradient(to bottom, rgba(59, 59, 59, 0), rgba(57, 57, 57, .05)),  url(../img/futer-2.jpg) bottom (center/contain) no-repeat
   margin: auto
   ul
      padding: 31px 0 38px
      &:last-child
         padding-right: 38px
   li   
      font-size: 0.8em
      line-height: 2.5em
      font-weight: normal
      color: $black
      width: 200px
      h3         
         font-size: 17px
         font-weight: bold
         color: $blue

      

