.subfooter
   padding-top: 70px
   padding-bottom: 65px
   font-size: 14px
   line-height: 20px

.footer
   background-color: #EFEFEF
   ul
      padding-top: 31px
      padding-left: 38px
      &:last-child
         padding-right: 38px
   li   
      font-size: 0.9em
      line-height: 2.5em
      font-weight: normal
      color: $black
      width: 200px
      h3         
         font-size: 17px
         font-weight: bold
         color: $blue  