.team
   font-weight: bold
   color: $blue
   position: relative
   padding-bottom: 58px
   line-height: 24px
   img
      border-radius: 50%
      &:first-child         
         width: 280px
   div           
      text-align: center            
      img
         &:nth-child(2)
            position: absolute
            left: 5%
            bottom: 25%
            width: 25%    
      h3
         padding-top: 50px
         font-size: 20px
         color: $black

@media (max-width: 767px)
   .team
      div                  
         img
            &:nth-child(2)
               width: 35%
               left: 0
               bottom: 45%   

.adv
   padding: 0 5%
   margin: 0 auto
   a      
      width: 200px
      height: 250px
      padding-top: 100px
      padding-bottom: 180px
      text-align: center
      color: $black
      &:nth-child(1)
         background: url(../img/advant-1.png) top center no-repeat
      &:nth-child(2)
         background: url(../img/advant-2.png) top center no-repeat
      &:nth-child(3)
         background: url(../img/advant-3.png) top center no-repeat
      &:nth-child(4)
         background: url(../img/advant-4.png) top center no-repeat
      &:nth-child(5)
         background: url(../img/advant-5.png) top center no-repeat
      &:nth-child(6)
         background: url(../img/advant-6.png) top center no-repeat
      h4      
         font-weight: 1em
         font-weight: bold
      p
         font-weight: 0.8em
         padding-top: 11px
.map
   margin: 0
   padding: 0
   position: relative
   &__form
      position: absolute
      z-index: 1
      width: 370px
      margin-top: 50px
      margin-left: 130px
      height: 450px
      background-color: $blue
      color: $white
      padding: 1% 0
      border-radius: 20px
      
      h3
         font-size: 18px
         text-transform: uppercase
         padding-top: 30px
         padding-bottom: 18px
         padding-left: 122px
      p
         font-size: 15px
         padding-top: 6px
         color: $white     

      a
         color: $yellow
         display: block  
         padding-left: 122px
         padding-top: 20px
         padding-bottom: 20px
         height: 60px
         margin-bottom: 30px
         background: url(../img/map-icons.png) left center no-repeat
         &:nth-child(2)
            background-position: 30px -25px
         &:nth-child(3)
            background-position: 30px -197px

         &:nth-child(4)
            background-position: 30px -115px
         &:nth-child(5)
            background-position: 30px -280px
   &__map
      position: relative