.team
   padding-bottom: 58px
   div  
      border-radius: 50%
      background: url(../img/team-1.jpg) center center no-repeat
      background-size: 100%      
      padding-top: 300px    
      text-align: center
      h3
         font-weight: bold
      h4
         padding-top: 4px
         font-weight: 0.8em
         font-weight: bold
         color: $blue

.adv
   a      
      width: 200px
      height: 250px
      padding-top: 160px
      text-align: center
      color: $black
      &:nth-child(1)
         background: url(../img/advant-1.png) center center no-repeat
      &:nth-child(2)
         background: url(../img/advant-2.png) center center no-repeat
      &:nth-child(3)
         background: url(../img/advant-3.png) center center no-repeat
      &:nth-child(4)
         background: url(../img/advant-4.png) center center no-repeat
      &:nth-child(5)
         background: url(../img/advant-5.png) center center no-repeat
      &:nth-child(6)
         background: url(../img/advant-6.png) center center no-repeat
      h4      
         font-weight: 1em
         font-weight: bold
      p
         font-weight: 0.8em
         padding-top: 11px
.map
   margin: 0
   padding: 0
   position: relative
   &__form
      position: absolute
      z-index: 1
      width: 400px
      margin-top: 50px
      margin-left: 130px
      height: 450px
      background-color: $blue
      color: $white
      padding-top: 30px
      border-radius: 20px
      
      h3
         font-size: 18px
         text-transform: uppercase
         padding-top: 30px
         padding-bottom: 18px
         padding-left: 122px
      p
         font-size: 15px
         padding-top: 6px
         color: $white     

      a
         color: $yellow
         display: block  
         padding-left: 122px
         padding-top: 20px
         padding-bottom: 20px
         height: 60px
         margin-bottom: 30px
         background: url(../img/map-icons.png) left center no-repeat
         &:nth-child(2)
            background-position: 30px -25px
         &:nth-child(3)
            background-position: 30px -197px

         &:nth-child(4)
            background-position: 30px -115px
         &:nth-child(5)
            background-position: 30px -280px
   &__map
      position: relative