.wind_repairs
   background: $blue url(../img/repair2.png) right (center/contain) no-repeat
   background-position-x: 90%
   height: 300px   
   margin-top: 74px
   margin-bottom: 65px
   h2
      text-align: left 
      color: $white
   button
      margin-bottom: 87px
      width: 25%

   .container
      background: url(../img/svg/key.svg) center bottom no-repeat
      background-position-x: 25%
      background-position-y: 40px
      height: 100%
